<c-row>
  <c-col xs="12" lg="8">
    <c-card>
      <c-card-body>
        <h4>User Settings</h4>

        <form cForm [formGroup]="form" (ngSubmit)="save()" cRow [gutter]="3">
          <c-col xs="6">
            <label class="form-label">Email</label>
            <input
              cFormControl
              formControlName="email"
              placeholder="Email"
              type="text"
            />
          </c-col>
          <c-col xs="6">
            <label class="form-label">Ruolo</label>
            <input
              cFormControl
              formControlName="ruolo"
              placeholder="Ruolo"
              type="text"
            />
          </c-col>
          <c-col xs="6">
            <label class="form-label">Data Creazione</label>
            <input
              cFormControl
              formControlName="dataCreazione"
              placeholder="Data Creazione"
              type="text"
            />
          </c-col>
          <c-col xs="12">
            <label class="form-label">Profile Image</label>
            <input
              cFormControl
              type="file"
              accept="image/*"
              (change)="onImageSelected($event)"
            />
          </c-col>
        </form>
      </c-card-body>
      <c-card-footer>
        <div class="d-flex justify-content-end mt-3 flex-wrap">
          <button cButton color="success" type="submit" [disabled]="saving">
            Salva
          </button>
        </div>
      </c-card-footer>
    </c-card>
  </c-col>

  <c-col xs="12" lg="4">
    <c-card>
      <c-card-body class="text-center">
        <h5>Profile Image</h5>

        <div class="profile-preview-wrapper">
          <img
            [src]="imagePreview || 'assets/images/placeholder_icon_user.svg'"
            class="profile-preview"
            alt="Profile Preview"
          />
        </div>

        <div class="text-body-secondary">
          {{ form.get("email")?.value }}
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
