<form [formGroup]="form" class="mb-3">
  <div class="row g-3 align-items-end">
    <div class="col-12 col-md-4">
      <label class="form-label">ID Tessera iniziale (Discendente)</label>

      <input
        cFormControl
        type="text"
        formControlName="numeroPartenzaTopDown"
        placeholder="Inserisci ID Tessera"
      />
    </div>

    <div class="col-3 col-md-auto">
      <button
        cButton
        color="primary"
        type="button"
        [disabled]="form.invalid || loading || rows.length === 0"
        (click)="proponiAssegnazioni()"
      >
        {{ loading ? "Elaborazione..." : "Proponi Assegnazioni" }}
      </button>
    </div>

    <div class="col-12">
      @if (
        form.controls.numeroPartenzaTopDown.touched &&
        form.controls.numeroPartenzaTopDown.hasError("required")
      ) {
        <small class="text-danger"> ID Tessera iniziale obbligatorio </small>
      }
    </div>
  </div>
</form>

<app-datagrid
  [columns]="columns"
  [rows]="rows"
  [loading]="false"
  [paginationConfig]="paginationConfig"
></app-datagrid>

<ng-template #actionTemplate let-row>
  <button
    cButton
    color="danger"
    variant="ghost"
    shape="rounded-pill"
    (click)="removeRow(row)"
  >
    <svg [cIcon]="icons.cilX" title="Rimuovi"></svg>
  </button>
</ng-template>
