<c-modal
  [visible]="visible"
  backdrop="static"
  (visibleChange)="visibleChange.emit($event)"
>
  <c-modal-header style="justify-content: space-between !important">
    <h5 cModalTitle>{{ getTitle(mode) }}</h5>

    <button
      (click)="close()"
      variant="ghost"
      shape="rounded-pill"
      cButton
      color="danger"
    >
      <svg [cIcon]="icons.cilX"></svg>
    </button>
  </c-modal-header>
  <c-modal-body>
    <form [gutter]="3" cForm cRow>
      <c-col xs="6">
        <label cLabel class="visually-hidden" for="idTessera">
          Id Tessera
        </label>
        <input
          cFormControl
          id="idTessera"
          placeholder="Id Tessera"
          type="text"
          [disabled]="checkDisabled('idTessera', mode)"
        />
      </c-col>
      <c-col xs="6">
        <label cLabel class="visually-hidden" for="codiceInterno">
          Codice Interno
        </label>
        <input
          cFormControl
          id="codiceInterno"
          placeholder="Codice Interno"
          type="text"
          [disabled]="checkDisabled('codiceInterno', mode)"
        />
      </c-col>
      <c-col xs="12">
        <label cLabel class="visually-hidden" for="codiceFiscale">
          Codice Fiscale
        </label>
        <input
          cFormControl
          id="codiceFiscale"
          placeholder="Codice Fiscale"
          type="text"
          [disabled]="checkDisabled('codiceFiscale', mode)"
        />
      </c-col>
      <c-col xs="6">
        <label cLabel class="visually-hidden" for="nome"> Nome </label>
        <input
          cFormControl
          id="nome"
          placeholder="Nome"
          type="text"
          [disabled]="checkDisabled('nome', mode)"
        />
      </c-col>
      <c-col xs="6">
        <label cLabel class="visually-hidden" for="cognome"> Cognome </label>
        <input
          cFormControl
          id="cognome"
          placeholder="Cognome"
          type="text"
          [disabled]="checkDisabled('cognome', mode)"
        />
      </c-col>
      <c-col xs="6">
        <label cLabel class="visually-hidden" for="sede"> Sede </label>
        <input
          cFormControl
          id="sede"
          placeholder="Sede"
          type="text"
          [disabled]="checkDisabled('sede', mode)"
        />
      </c-col>
      <c-col xs="6">
        <label cLabel class="visually-hidden" for="tipoTessera">
          Tipo Tessera
        </label>
        <input
          cFormControl
          id="tipoTessera"
          placeholder="Tipo Tessera"
          type="text"
          [disabled]="checkDisabled('tipoTessera', mode)"
        />
      </c-col>
      <c-col xs="12">
        <label cLabel class="visually-hidden" for="dataInizioAssegnazione">
          Data Inizio Assegnazione
        </label>
        <input
          cFormControl
          id="dataInizioAssegnazione"
          placeholder="Data Inizio Assegnazione"
          type="text"
          [disabled]="checkDisabled('dataInizioAssegnazione', mode)"
        />
      </c-col>
      <c-col xs="12">
        <label cLabel class="visually-hidden" for="dataFineAssegnazione">
          Data Fine Assegnazione
        </label>
        <input
          cFormControl
          id="dataFineAssegnazione"
          placeholder="Data Fine Assegnazione"
          type="text"
          [disabled]="checkDisabled('dataFineAssegnazione', mode)"
        />
      </c-col>
      <c-col xs="12">
        <label cLabel class="visually-hidden" for="dataInvalidità">
          Data Invalidità
        </label>
        <input
          cFormControl
          id="dataInvalidita"
          placeholder="Data Invalidità"
          type="text"
          [disabled]="checkDisabled('dataInvalidita', mode)"
        />
      </c-col>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button cButton color="success" (click)="confirm()">Save</button>
  </c-modal-footer>
</c-modal>
