<c-modal
  [visible]="visible"
  backdrop="static"
  (visibleChange)="visibleChange.emit($event)"
>
  <c-modal-header style="justify-content: space-between !important">
    <h5 cModalTitle>{{ getTitle(mode) }}</h5>

    <button
      (click)="close()"
      variant="ghost"
      shape="rounded-pill"
      cButton
      color="danger"
    >
      <svg [cIcon]="icons.cilX"></svg>
    </button>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="formTessera" [gutter]="3" cForm cRow>
      <c-col xs="6">
        <label cLabel class="visually-hidden" for="idTessera">
          Id Tessera
        </label>
        <input
          cFormControl
          id="idTessera"
          formControlName="idTessera"
          placeholder="Id Tessera"
          type="text"
        />
      </c-col>
      <c-col xs="6">
        <label cLabel class="visually-hidden" for="codiceInterno">
          Codice Interno
        </label>
        <input
          cFormControl
          id="codiceInterno"
          formControlName="codiceInterno"
          placeholder="Codice Interno"
          type="text"
        />
      </c-col>
      <c-col xs="12">
        <label cLabel class="visually-hidden" for="codiceFiscale">
          Codice Fiscale
        </label>
        <input
          cFormControl
          id="codiceFiscale"
          formControlName="codiceFiscale"
          placeholder="Codice Fiscale"
          type="text"
        />
      </c-col>
      <c-col xs="6">
        <label cLabel class="visually-hidden" for="nome"> Nome </label>
        <input
          cFormControl
          id="nome"
          formControlName="nome"
          placeholder="Nome"
          type="text"
        />
      </c-col>
      <c-col xs="6">
        <label cLabel class="visually-hidden" for="cognome"> Cognome </label>
        <input
          cFormControl
          id="cognome"
          formControlName="cognome"
          placeholder="Cognome"
          type="text"
        />
      </c-col>
      <c-col xs="12">
        <label cLabel class="visually-hidden" for="sede"> Sede </label>
        <!-- <select cSelect formControlName="sede">
          <option value="">-</option>
          @for (item of sediList; track $index) {
            <option [value]="item.codSede">
              {{ item.descrizione }}
            </option>
          }
        </select> -->
        <app-autocomplete-select
          formControlName="sede"
          [options]="sediList"
          placeholder="Select sede"
        />
      </c-col>
      <c-col xs="12">
        <label cLabel class="visually-hidden" for="tipoTessera">
          Tipo Tessera
        </label>
        <select
          cSelect
          cFormControl
          id="tipoTessera"
          placeholder="Tipo Tessera"
          formControlName="codTipoTessera"
        >
          <option value="S">Sostitutiva</option>
          <option value="D">Dipendente</option>
        </select>
      </c-col>
      <c-col xs="12">
        <label cLabel class="visually-hidden" for="dataInizioAssegnazione">
          Data Inizio Assegnazione
        </label>
        <app-datepicker
          cFormControl
          id="dataInizioAssegnazione"
          formControlName="dataOraInizioAssegnazione"
          placeholder="Data Inizio Assegnazione"
          min="1900-01-01"
          max="9999-12-31"
          [showTodayButton]="true"
          todayButtonLabel="Oggi"
        />
      </c-col>
      <c-col xs="12">
        <label cLabel class="visually-hidden" for="dataFineAssegnazione">
          Data Fine Assegnazione
        </label>
        <app-datepicker
          cFormControl
          id="dataFineAssegnazione"
          formControlName="dataOraFineAssegnazione"
          placeholder="Data Fine Assegnazione"
          min="1900-01-01"
          max="9999-12-31"
          [showTodayButton]="true"
          [showSpecificDateButton]="true"
          specificDateValue="31/12/9999 00:00:00"
          todayButtonLabel="Oggi"
          specificDateButtonLabel="Fine validità"
        />
      </c-col>
      <c-col xs="12">
        <label cLabel class="visually-hidden" for="dataInvalidità">
          Data Invalidità
        </label>
        <app-datepicker
          cFormControl
          id="dataInvalidita"
          formControlName="dataOraIndisponibilita"
          placeholder="Data Invalidità"
          min="1900-01-01"
          max="9999-12-31"
          [showTodayButton]="true"
          [showSpecificDateButton]="true"
          specificDateValue="31/12/9999 00:00:00"
          todayButtonLabel="Oggi"
          specificDateButtonLabel="Fine validità"
        />
      </c-col>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button cButton color="success" (click)="confirm(mode)">{{getConfirmText(mode)}}</button>
  </c-modal-footer>
</c-modal>
