<c-card class="my-4">
  <!-- HEADER -->
  <c-card-header>
    @if (searchConfig()?.enabled) {
      <form [gutter]="3" cForm cRow>
        @for (f of searchConfig()?.fields; track f.field) {
          <c-col [xs]="f.size || '2'">
            @if (!f.type || f.type === "text") {
              <input
                cFormControl
                type="text"
                [name]="f.field"
                [(ngModel)]="filterValues[f.field]"
                [placeholder]="f.label"
                (keydown)="onFilterKeydown($event)"
              />
            }
            @if (f.type === "select") {
              <select
                cSelect
                [name]="f.field"
                [(ngModel)]="filterValues[f.field]"
              >
                <option value="">-</option>
                @for (o of f.options; track o.value) {
                  <option [value]="o.value">
                    {{ o.label }}
                  </option>
                }
              </select>
            }
            @if (f.type === "date") {
              <app-datepicker
                [name]="f.field"
                [(ngModel)]="filterValues[f.field]"
                [placeholder]="f.label"
                min="1900-01-01"
                max="2100-12-31"
                (keydown)="onFilterKeydown($event)"
              />
            }
            @if (f.type === "checkbox") {
              <div class="form-check mt-2">
                <input
                  cFormCheckInput
                  type="checkbox"
                  [name]="f.field"
                  [(ngModel)]="filterValues[f.field]"
                />

                <label class="form-check-label">
                  {{ f.label }}
                </label>
              </div>
            }
            @if (f.type === "autocomplete") {
              <app-autocomplete-select
                [name]="f.field"
                [(ngModel)]="filterValues[f.field]"
                [placeholder]="f.label"
                [options]="f.options ?? []"
                [multiple]="f.multiple ?? false"
              />
            }
          </c-col>
        }
        <c-col xs="2">
          <div class="d-flex gap-2 flex-wrap">
            <button
              cButton
              color="primary"
              variant="ghost"
              shape="rounded-pill"
              (click)="applyFilters()"
            >
              <svg [cIcon]="icons.cilSearch" title="Ricerca"></svg>
            </button>
            <button
              cButton
              color="danger"
              variant="ghost"
              shape="rounded-pill"
              (click)="clearFilters()"
            >
              <svg [cIcon]="icons.cilFilterX" title="Pulisci Filtri"></svg>
            </button>
          </div>
        </c-col>
      </form>
    }
    @if (toolbarConfig()?.enabled) {
      <hr />
      <div class="d-flex gap-2 mb-3 flex-wrap justify-content-end">
        @for (action of toolbarConfig()?.actions; track action.label) {
          @if (!action.visible || action.visible()) {
            <button
              cButton
              [color]="action.color || 'primary'"
              variant="ghost"
              shape="rounded-pill"
              [disabled]="action.disabled?.()"
              (click)="action.action()"
              size="sm"
            >
              <!-- ICON -->
              @if (action.icon) {
                <svg [cIcon]="action.icon" title="Pulisci Filtri"></svg>
              }
              {{ action.label }}
            </button>
          }
        }
      </div>
    }
  </c-card-header>

  <!-- BODY -->
  <c-card-body>
    @if (!loading() && !hasRows()) {
      <div class="datagrid-empty-state">
        <!-- ICON -->
        <svg
          [cIcon]="icons.cilFrown"
          title="Pulisci Filtri"
          size="3xl"
          class="mb-3 text-medium-emphasis"
        ></svg>

        <!-- TITLE -->
        <h5>
          {{ emptyStateConfig()?.title || "No data found" }}
        </h5>

        <!-- DESCRIPTION -->
        <p class="text-medium-emphasis">
          {{ emptyStateConfig()?.description || "Try changing filters" }}
        </p>
      </div>
    } @else {
      <table cTable>
        <thead>
          <tr>
            @for (column of columns(); track column.field) {
              <!-- <th [style.width]="column.width" [class]="column.className">
                {{ column.header }}
              </th> -->
              <th
                [style.width]="column.width"
                (click)="sort(column)"
                [class.sortable]="column.sortable"
              >
                <div class="d-flex align-items-center gap-2">
                  {{ column.header }}

                  @if (sortingEnabled() && column.sortable) {
                    <span class="sort-icon">
                      {{ getSortIcon(column) }}
                    </span>
                  }
                </div>
              </th>
            }
          </tr>
        </thead>

        <tbody>
          @if (loading()) {
            <div class="datagrid-loading-overlay">
              <c-spinner size="sm"></c-spinner>

              <span class="ms-2">
                {{ loadingConfig()?.text || "Loading..." }}
              </span>
            </div>
          }

          @for (row of displayedRows(); track $index) {
            <tr
              [class.datagrid-row-even]="$even"
              [class.datagrid-row-odd]="$odd"
              (contextmenu)="openContextMenu($event, row)"
              (click)="closeContextMenu()"
            >
              @for (column of columns(); track column.field) {
                <td [class]="column.className">
                  <!-- TEMPLATE MODE -->
                  @if (column.template) {
                    <ng-container
                      *ngTemplateOutlet="
                        column.template;
                        context: {
                          $implicit: row,
                          row: row,
                        }
                      "
                    />
                  }
                  <!-- STRING RENDER MODE -->
                  @else {
                    <span [innerHTML]="renderCell(row, column)"></span>
                  }
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    }
  </c-card-body>

  <!-- FOOTER -->
  <c-card-footer>
    @if (paginationConfig()?.enabled) {
      <div
        class="d-flex align-items-center justify-content-between gap-3 flex-wrap"
      >
        @if (paginationConfig()?.showPageSizeSelector) {
          <div class="d-flex align-items-center gap-2">
            <span>Rows per page</span>

            <select
              cSelect
              style="width: 120px"
              [value]="paginationConfig()?.pageSize"
              (change)="changePageSize($any($event.target).value)"
            >
              @for (
                size of paginationConfig()?.pageSizes ?? [5, 10, 25, 50];
                track size
              ) {
                <option [value]="size">
                  {{ size }}
                </option>
              }
            </select>
          </div>
        }

        <div class="d-flex gap-1 align-items-center text-body-secondary small">
          Showing
          <strong>{{ pageStart() }}</strong>
          -
          <strong>{{ pageEnd() }}</strong>
          of
          <strong>{{ totalItems() }}</strong>
          items
        </div>

        <div class="d-flex gap-1 align-items-center">
          <button
            cButton
            color="secondary"
            size="sm"
            variant="ghost"
            [disabled]="paginationConfig()!.page === 1"
            (click)="changePage(paginationConfig()!.page - 1)"
          >
            Previous
          </button>

          @for (p of paginationPages(); track $index) {
            @if (p === "ellipsis") {
              <span class="px-2 text-body-secondary">...</span>
            } @else {
              <button
                cButton
                size="sm"
                variant="ghost"
                [color]="
                  p === paginationConfig()!.page ? 'primary' : 'secondary'
                "
                (click)="changePage(p)"
              >
                {{ p }}
              </button>
            }
          }

          <button
            cButton
            color="secondary"
            size="sm"
            variant="ghost"
            [disabled]="paginationConfig()!.page === totalPages"
            (click)="changePage(paginationConfig()!.page + 1)"
          >
            Next
          </button>
        </div>
      </div>
    }
  </c-card-footer>
  @if (contextMenuOpen() && contextMenuRow()) {
    <div
      class="datagrid-context-menu"
      [style.left.px]="contextMenuX()"
      [style.top.px]="contextMenuY()"
      (click)="$event.stopPropagation()"
    >
      <ng-container
        *ngTemplateOutlet="
          contextMenuConfig()!.template;
          context: {
            $implicit: contextMenuRow(),
            row: contextMenuRow(),
            close: closeContextMenu.bind(this),
          }
        "
      />
    </div>
  }
</c-card>
