@if (loadingService.isLoading()) {
  <div class="loading-overlay">
    <!-- <div class="loader"></div> -->
    <div class="loader">
      <div class="scene">
        <div class="tesseract">
          <div class="cube outer">
            <span></span><span></span><span></span> <span></span><span></span
            ><span></span>
          </div>

          <div class="cube inner">
            <span></span><span></span><span></span> <span></span><span></span
            ><span></span>
          </div>

          <div class="connector c1"></div>
          <div class="connector c2"></div>
          <div class="connector c3"></div>
          <div class="connector c4"></div>
        </div>
      </div>
    </div>
    <!-- <img src="assets/images/card-burning.gif" height="500"> -->
  </div>
}
