<div
  class="login-background min-vh-100 d-flex justify-content-center align-items-center"
>
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col xs="11" sm="9" md="7" lg="5" xl="4">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm [formGroup]="form" (ngSubmit)="login()">
                <h1>Login</h1>
                <br />

                @if (errorMessage) {
                  <div class="alert alert-danger">
                    {{ errorMessage }}
                  </div>
                }

                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    autoComplete="username"
                    cFormControl
                    placeholder="Username"
                    formControlName="username"
                  />
                </c-input-group>

                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password"
                    formControlName="password"
                  />
                </c-input-group>

                <div class="d-grid mt-4">
                  <button
                    cButton
                    color="primary"
                    type="submit"
                    size="lg"
                    [disabled]="loading || form.invalid"
                  >
                    {{ loading ? "Logging in..." : "Login" }}
                  </button>
                </div>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
