<app-datagrid
  [columns]="columns"
  [rows]="tessere()"
  [searchConfig]="searchConfig"
  [toolbarConfig]="toolbarConfig"
  [paginationConfig]="paginationConfig"
  [sortingConfig]="sortingConfig"
  [loadingConfig]="loadingConfig"
  [persistConfig]="persistConfig"
  [loading]="datagridLoading()"
  [emptyStateConfig]="emptyStateConfig"
  (dataRequest)="loadData($event)"
  [contextMenuConfig]="contextMenuConfig"
/>

<app-tessera-modal-cmp
  [(visible)]="isModalOpen"
  [mode]="mode"
  [tesseraSelected]="tesseraSelected()"
  [sediList]="sedi()"
  (saved)="refresh()"
></app-tessera-modal-cmp>

<app-tessera-aggiungi
  [(visible)]="isModalAggiungiOpen"
  (saved)="refresh()"
></app-tessera-aggiungi>

<app-tessera-history
  [(visible)]="isModalHistoryOpen"
  [tesseraSelectedHistory]="tesseraHistory()"
></app-tessera-history>

<ng-template #actionTemplate let-row>
  <c-dropdown>
    <button
      cButton
      color="secondary"
      variant="ghost"
      shape="rounded-pill"
      cDropdownToggle
      direction="dropend"
    >
      <svg [cIcon]="icons.cilOptions" title="Assegna Dipendente"></svg>
    </button>

    <ul cDropdownMenu>
      <li cDropdownItem (click)="openModal(action_const.ASSIGN, row.idTessera)">
        <span class="text-info">
          <svg [cIcon]="icons.cilActionUndo" title="Assegna Dipendente"></svg>
          Assegna Dipendente
        </span>
      </li>
      <li
        cDropdownItem
        (click)="openModal(action_const.ASSIGN_SEDE, row.idTessera)"
      >
        <span class="text-info">
          <svg [cIcon]="icons.cilBuilding" title="Cambia Sede"></svg>
          Cambia Sede
        </span>
      </li>
      <li
        cDropdownItem
        (click)="openModal(action_const.DISABLED, row.idTessera)"
      >
        <span class="text-danger">
          <svg [cIcon]="icons.cilBan" title="Cambia Validità"></svg>
          Cambia Validità
        </span>
      </li>
      @if (row.codiceFiscale) {
        <li
          cDropdownItem
          (click)="openModal(action_const.REMOVE, row.idTessera)"
        >
          <span class="text-danger">
            <svg [cIcon]="icons.cilDelete" title="Disuso"></svg>
            Disuso
          </span>
        </li>
      }
      <li cDropdownItem (click)="openHistoryModal(row.idTessera)">
        <span class="text-secondary">
          <svg [cIcon]="icons.cilHistory" title="Cronologia"></svg>
          Cronologia
        </span>
      </li>
    </ul>
  </c-dropdown>
</ng-template>

<ng-template #contextActionTemplate let-row>
  <ul cListGroup class="context-menu-list">
    <li
      cListGroupItem
      action
      (click)="openModal(action_const.ASSIGN, row.idTessera)"
      class="context-menu-item"
    >
      <span class="text-info">
        <svg [cIcon]="icons.cilActionUndo" title="Assegna Dipendente"></svg>
        Assegna Dipendente
      </span>
    </li>
    <li
      cListGroupItem
      action
      (click)="openModal(action_const.ASSIGN_SEDE, row.idTessera)"
      class="context-menu-item"
    >
      <span class="text-info">
        <svg [cIcon]="icons.cilBuilding" title="Cambia Sede"></svg>
        Cambia Sede
      </span>
    </li>
    <li
      cListGroupItem
      action
      (click)="openModal(action_const.DISABLED, row.idTessera)"
      class="context-menu-item"
    >
      <span class="text-danger">
        <svg [cIcon]="icons.cilBan" title="Cambia Validità"></svg>
        Cambia Validità
      </span>
    </li>
    @if (row.codiceFiscale) {
      <li
        cListGroupItem
        action
        (click)="openModal(action_const.REMOVE, row.idTessera)"
        class="context-menu-item"
      >
        <span class="text-danger">
          <svg [cIcon]="icons.cilDelete" title="Disuso"></svg>
          Disuso
        </span>
      </li>
    }
    <li
      cListGroupItem
      action
      (click)="openHistoryModal(row.idTessera)"
      class="context-menu-item"
    >
      <span class="text-secondary">
        <svg [cIcon]="icons.cilHistory" title="Cronologia"></svg>
        Cronologia
      </span>
    </li>
  </ul>
</ng-template>
