@if (searchReady()) {
  <app-datagrid
    [columns]="columns"
    [rows]="tessere()"
    [searchConfig]="searchConfig"
    [toolbarConfig]="toolbarConfig"
    [paginationConfig]="paginationConfig"
    [sortingConfig]="sortingConfig"
    [loadingConfig]="loadingConfig"
    [loading]="datagridLoading()"
    [emptyStateConfig]="emptyStateConfig"
    [initialState]="gridState()"
    (stateChange)="loadData($event)"
    [contextMenuConfig]="contextMenuConfig"
    [selectionConfig]="selectionConfig"
    (selectionChange)="onSelectionChange($event)"
    [selectionSummaryConfig]="selectionSummaryConfig"
  />
}

<!-- MODALI -->
<app-tessera-modal-cmp
  [(visible)]="isModalOpen"
  [mode]="mode"
  [tesseraSelected]="tesseraSelected()"
  [sediList]="sedi()"
  (saved)="refresh()"
></app-tessera-modal-cmp>

<app-tessera-aggiungi
  [(visible)]="isModalAggiungiOpen"
  (saved)="refresh()"
></app-tessera-aggiungi>

<app-tessera-history
  [(visible)]="isModalHistoryOpen"
  [tesseraSelectedHistory]="tesseraHistory()"
></app-tessera-history>

<app-tessera-update-multiplo
  [(visible)]="isModalMulUpdOpen"
  [mode]="mode"
  [sediList]="sedi()"
  (saved)="refresh()"
></app-tessera-update-multiplo>

<app-tessera-stampa
  [(visible)]="isModalStampaOpen"
  [mode]="mode"
  [tessereToPrint]="tessereToPrint()"
></app-tessera-stampa>
<!-- FINE MODALI -->

<ng-template #actionTemplate let-row let-selectedRows="selectedRows">
  <c-dropdown>
    <button
      cButton
      color="secondary"
      variant="ghost"
      shape="rounded-pill"
      cDropdownToggle
      direction="dropend"
    >
      <svg [cIcon]="icons.cilOptions" title="Opzioni"></svg>
    </button>

    <ul cDropdownMenu>
      @for (action of actionsArray; track action.name) {
        @if (action.visibility(row)) {
          <li cDropdownItem (click)="action.do(row)">
            <span [class]="action.color">
              <svg [cIcon]="action.icon" [title]="action.title"></svg>
              {{ action.title }}
            </span>
          </li>
        }
      }
    </ul>
  </c-dropdown>
</ng-template>

<ng-template #contextActionTemplate let-row let-selectedRows="selectedRows">
  <ul cListGroup class="context-menu-list">
    @for (action of actionsArray; track action.name) {
      @if (action.visibility(row)) {
        <li
          cListGroupItem
          action
          (click)="action.do(row)"
          class="context-menu-item"
        >
          <span [class]="action.color">
            <svg [cIcon]="action.icon" [title]="action.title"></svg>
            {{ action.title }}
          </span>
        </li>
      }
    }
  </ul>
</ng-template>

<ng-template #statusTemplate let-row>
  <div
    class="status-container"
    [cTooltip]="this.utilsService.getStatusTooltip(row)"
    cTooltipPlacement="top"
  >
    <span
      [class]="
        'status-dot status-dot--' + this.utilsService.getStatusColor(row)
      "
    ></span>
  </div>
</ng-template>

<ng-template #selectedBadge let-row let-remove="remove">
  <c-badge
    color="secondary"
    shape="rounded-pill"
    class="d-inline-flex align-items-center"
  >
    <div class="d-flex flex-column align-items-center text-center px-1">
      <strong>{{ row.idTessera }}</strong>

      <small class="opacity-75">
        {{ row.sede }}
      </small>
    </div>

    <button
      type="button"
      class="btn-close btn-close-white ms-2"
      (click)="remove(row)"
    ></button>
  </c-badge>
</ng-template>
