<c-card>
  <c-card-body>
    <form cForm [formGroup]="form" [gutter]="3" cRow>
      <c-col xs="12">
        <label cLabel class="visually-hidden" for="tipoStampa">
          Tipo Stampa
        </label>

        <select
          cSelect
          cFormControl
          id="tipoStampa"
          placeholder="Tipo Stampa"
          formControlName="tipoStampa"
        >
          <option value="nominativa">Nominativa</option>
          <option value="sostitutiva">Sostitutiva</option>
        </select>
      </c-col>

      @if (form.controls.tipoStampa.value) {
        <c-col xs="6" lg="6">
          <label cLabel class="visually-hidden" for="oggetto"> Oggetto </label>
          <input
            cFormControl
            id="oggetto"
            formControlName="oggetto"
            placeholder="Oggetto"
            type="text"
          />
        </c-col>
        <c-col xs="6" lg="6">
          <label cLabel class="visually-hidden" for="onumProtocolloggetto">
            # Protocollo
          </label>
          <input
            cFormControl
            id="numProtocollo"
            formControlName="numProtocollo"
            placeholder="# Protocollo"
            type="text"
          />
        </c-col>
        <c-col xs="4" lg="4">
          <label cLabel class="visually-hidden" for="dataProtocollo">
            Data Protocollo
          </label>
          <app-datepicker
            cFormControl
            id="dataProtocollo"
            formControlName="dataProtocollo"
            placeholder="Data Protocollo"
            min="01/01/1900 00:00:00"
            max="31/12/9999 23:59:59"
            [showTodayButton]="true"
            todayButtonLabel="Oggi"
            [showTime]="false"
          />
        </c-col>
        <c-col xs="8" lg="8">
          <label cLabel class="visually-hidden" for="sede"> Sede </label>
          <app-autocomplete-select
            formControlName="sede"
            [options]="sediOptions()"
            placeholder="Seleziona Sede"
          />
        </c-col>
        @if (form.controls.tipoStampa.value === "nominativa") {
          <c-col xs="7" lg="7">
            <label cLabel class="visually-hidden" for="tipoTemplate">
              Utenti Selezionati
            </label>
            <app-autocomplete-select
              #utentiAutocomplete
              formControlName="utenti"
              placeholder="Seleziona Utenti"
              [multiple]="true"
              [minSearchLength]="0"
              [debounceMs]="500"
              [serverSearchFn]="searchTessere"
              [loadOnOpen]="true"
              [itemTemplate]="utenteItem"
              [selectedItemTemplate]="utenteChip"
              [optionKeyFn]="utenteKey"
            />
          </c-col>
          <c-col xs="2" lg="2">
            <c-form-check [switch]="true">
              <input
                cFormCheckInput
                type="checkbox"
                formControlName="filtraSede"
              />
              <label cFormCheckLabel>Filtra per sede</label>
            </c-form-check>
          </c-col>
          <c-col xs="3" lg="3">
            <label
              cButton
              color="primary"
              class="mb-0"
              variant="ghost"
              shape="rounded-pill"
            >
              <svg [cIcon]="icons.cilCloudUpload" title="Ricerca"></svg>
              Seleziona file XLSX
              <input
                type="file"
                accept=".xlsx"
                hidden
                (change)="onFileSelected($event)"
              />
            </label>
          </c-col>
        }
        @if (form.controls.tipoStampa.value === "sostitutiva") {
          <c-col xs="3" lg="3">
            <input
              cFormControl
              formControlName="qntBadge"
              id="qntBadge"
              placeholder="Quantità Badge"
              type="number"
              min="0"
              (keydown)="preventNegative($event)"
            />
          </c-col>
        }
      }
    </form>
  </c-card-body>
  <c-card-footer>
    <div class="d-flex justify-content-end mt-3 flex-wrap gap-3">
      <button
        cButton
        color="danger"
        type="submit"
        (click)="creaFileRispostaPDF()"
        [disabled]="form.invalid"
      >
        Crea Risposta PDF
      </button>
      <button
        cButton
        color="info"
        type="submit"
        [disabled]="false"
        (click)="creaFileRispostaWord()"
        [disabled]="form.invalid"
      >
        Crea Risposta Word
      </button>
    </div>
  </c-card-footer>
</c-card>

<ng-template #utenteItem let-option let-selected="selected">
  <div class="d-flex justify-content-between align-items-center w-100">
    <div>
      <div class="fw-semibold">
        <span
          [class]="
            'status-dot status-dot--' +
            this.utilsService.getStatusColor(option.data)
          "
        ></span>

        {{ option.data.cognome }} {{ option.data.nome }}
      </div>

      <small>
        <strong>CF</strong>: {{ option.data.codiceFiscale }} |
        <strong>Sede</strong>: {{ option.data.sede }} |
        <strong>Tessera</strong>: <i>{{ option.data.idTessera }}</i>
      </small>
    </div>

    @if (selected) {
      <span class="badge bg-success">Selected</span>
    }
  </div>
</ng-template>

<ng-template #utenteChip let-option>
  <span class="d-inline-flex align-items-center gap-1">
    <small>
      {{ option.data.cognome }} {{ option.data.nome }}
      <i>({{ option.data.idTessera }})</i>
    </small>
  </span>
</ng-template>
