<div class="footer-container">
  <div class="footer-version-section">
    <div class="version-card">
      <div class="version-title">Frontend</div>

      @if (versionInfo()) {
        <div class="version-number">
          {{ versionInfo().version }}
        </div>

        <div class="version-date">
          {{ versionInfo().buildDate | date: "d MMM y HH:mm:ss" }}
        </div>
      }
    </div>

    <div class="version-card">
      <div class="version-title">Backend</div>

      @if (versionInfoBE()) {
        <div class="version-number">
          {{ versionInfoBE().version }}
        </div>

        <div class="version-date">
          {{ versionInfoBE().buildDate }}
        </div>
      }
    </div>

    <div class="version-card">
      <div class="version-title">Meteo</div>

      @if (weatherInfo()) {
        <div class="version-number">
          Today
          {{ weatherIcon(weatherInfo()!.todayCode) }}
          {{ weatherInfo()!.todayTemp }}°C
        </div>

        <div class="version-date">
          Tomorrow
          {{ weatherIcon(weatherInfo()!.tomorrowCode) }}
          {{ weatherInfo()!.tomorrowTemp }}°C
        </div>
      } @else {
        <div class="version-number">--</div>

        <div class="version-date">Loading...</div>
      }
    </div>
  </div>

  <div class="version-card">
    <div class="version-title">Autori</div>

    <div class="version-number">
      Powered by
      <a href="https://bloob.io/yatch" target="_blank">
        <span> SN, LG, MT</span>
      </a>
    </div>
  </div>
</div>
