<div class="autocomplete-select">
  <div class="autocomplete-input-wrapper" (click)="open()">
    @if (multiple()) {
      <div class="selected-tags">
        @for (option of getSelectedOptions(); track option.value) {
          <span class="selected-tag">
            {{ option.label }}

            <button
              type="button"
              class="tag-remove"
              (click)="removeSelected(option.value); $event.stopPropagation()"
            >
              ×
            </button>
          </span>
        }

        <input
          type="text"
          class="tag-input"
          [placeholder]="selectedValues().length === 0 ? placeholder() : ''"
          [ngModel]="search()"
          [disabled]="disabled() || disabledInput()"
          (ngModelChange)="onSearchChange($event)"
          (focus)="open()"
        />
      </div>
    } @else {
      <input
        type="text"
        class="form-control autocomplete-input"
        [placeholder]="placeholder()"
        [ngModel]="search()"
        [disabled]="disabled() || disabledInput()"
        (ngModelChange)="onSearchChange($event)"
        (focus)="open()"
      />
    }

    @if (
      clearable() &&
      (search() || selectedValues().length > 0) &&
      !disabled() &&
      !disabledInput()
    ) {
      <button
        type="button"
        class="clear-btn"
        title="Clear"
        (click)="clear(); $event.stopPropagation()"
      >
        ×
      </button>
    }
  </div>

  @if (isOpen()) {
    <div class="autocomplete-dropdown">
      @for (option of filteredOptions(); track option.value+ '-' + $index) {
        <button
          type="button"
          class="autocomplete-option"
          [class.selected]="isSelected(option)"
          (click)="selectOption(option)"
        >
          {{ option.label }}
        </button>
      }

      @if (filteredOptions().length === 0) {
        <div class="autocomplete-empty">No results found</div>
      }
    </div>
  }
</div>
