<c-card class="my-4">
  <c-card-header>
    <form [gutter]="3" cForm cRow>
      <c-col xs="2">
        <input
          cFormControl
          id="idTessera"
          placeholder="Id Tessera"
          type="text"
        />
      </c-col>
      <c-col xs="2">
        <input cFormControl id="nome" placeholder="Nome" type="text" />
      </c-col>
      <c-col xs="2">
        <input cFormControl id="cognome" placeholder="Cognome" type="text" />
      </c-col>
      <c-col xs="2">
        <input cFormControl id="sede" placeholder="Sede" type="text" />
      </c-col>
      <c-col xs="2">
        <input
          cFormControl
          id="codiceInterno"
          placeholder="Codice Interno"
          type="text"
        />
      </c-col>
      <c-col xs="2">
        <select cSelect>
          <option>Tipo Tessera</option>
          <option value="D">Dipendente</option>
          <option value="S">Sostitutiva</option>
        </select>
      </c-col>
      <c-col xs="2">
        <input
          cFormControl
          id="dataInizioAssegnazione"
          placeholder="Data Inizio Assegnazione"
          type="text"
        />
      </c-col>
      <c-col xs="2">
        <input
          cFormControl
          id="dataFineAssegnazione"
          placeholder="Data Fine Assegnazione"
          type="text"
        />
      </c-col>
      <c-col xs="2">
        <input
          cFormControl
          id="dataInvalidita"
          placeholder="Data Invalidità"
          type="text"
        />
      </c-col>
      <c-col xs="2">
        <button cButton color="primary" variant="ghost" shape="rounded-pill">
          <svg [cIcon]="icons.cilSearch" title="Ricerca"></svg>
        </button>
      </c-col>
    </form>
  </c-card-header>

  <c-card-body>
    <table cTable>
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Tipo</th>
          <th scope="col">Nominativo</th>
          <th scope="col">CF</th>
          <th scope="col">Sede</th>
          <th scope="col">Data Indisponibilità</th>
          <th scope="col">Assegnazione</th>
          <th scope="col">Codice Interno</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (tessera of tessereData; track tessera.idTessera; let i = $index) {
          <tr>
            <td>{{ tessera.idTessera }}</td>
            <td>{{ tessera.codTipoTessera }}</td>
            <td>{{ tessera.cognome }} {{ tessera.nome }}</td>
            <td>{{ tessera.codiceFiscale }}</td>
            <td>{{ mapSede(tessera.sede) }}</td>
            <td>
              <small>
                {{ tessera.dataOraIndisponibilita }}
              </small>
            </td>
            <td>
              <small>
                <strong> Inizio: </strong>
                {{ tessera.dataOraInizioAssegnazione }} <br />
              </small>
              <small>
                <strong> Fine: </strong>
                {{ tessera.dataOraFineAssegnazione }}
              </small>
            </td>
            <td>{{ tessera.codiceInterno }}</td>
            <td>
              @if (!tessera.codiceFiscale) {
                <button
                  cButton
                  color="info"
                  variant="ghost"
                  shape="rounded-pill"
                >
                  <svg
                    [cIcon]="icons.cilActionUndo"
                    title="Assegna Dipendente"
                  ></svg>
                </button>
              }
              @if (tessera.codiceFiscale) {
                <button
                  cButton
                  color="primary"
                  variant="ghost"
                  shape="rounded-pill"
                  (click)="openModal()"
                >
                  <svg [cIcon]="icons.cilPencil" title="Modifica"></svg>
                </button>
              }
              @if (!tessera.disuso) {
                <button
                  cButton
                  color="danger"
                  variant="ghost"
                  shape="rounded-pill"
                >
                  <svg [cIcon]="icons.cilDelete" title="Disuso"></svg>
                </button>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </c-card-body>
  <c-card-footer>
    <!-- <c-pagination aria-label="Page navigation example">
      <li cPageItem [disabled]="true">
        <a cPageLink [routerLink]>Previous</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]>1</a>
      </li>
      <li cPageItem [active]="true">
        <a cPageLink [routerLink]>2</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]>3</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]>Next</a>
      </li>
    </c-pagination> -->
  </c-card-footer>
</c-card>

<!-- <app-widgets-brand [withCharts]="true" /> -->

<app-tessera-modal-cmp [(visible)]="isModalOpen"></app-tessera-modal-cmp>
