<c-modal
  [visible]="visible"
  backdrop="static"
  (visibleChange)="visibleChange.emit($event)"
  size="lg"
>
  <c-modal-header style="justify-content: space-between !important">
    <h5 cModalTitle>{{ getTitle(mode) }}</h5>

    <button
      (click)="close()"
      variant="ghost"
      shape="rounded-pill"
      cButton
      color="danger"
    >
      <svg [cIcon]="icons.cilX"></svg>
    </button>
  </c-modal-header>
  <c-modal-body>
    <p>
      Le seguenti tessere saranno mandate in stampa:
      {{tessereSelected.map(item => item.idTessera).join(' , ')}}
    </p>
    <form [formGroup]="form" [gutter]="3" cForm cRow>
      @if (mode == "cambia-sede") {
        <c-col xs="12">
          <label cLabel class="visually-hidden" for="sede"> Sede </label>
          <app-autocomplete-select
            formControlName="sede"
            [options]="sediList"
            placeholder="Select sede"
          />
        </c-col>
        <c-col xs="12">
          <label cLabel class="visually-hidden" for="codTipoTessera">
            Tipo Tessera
          </label>
          <select
            cSelect
            cFormControl
            id="codTipoTessera"
            placeholder="Tipo Tessera"
            formControlName="codTipoTessera"
          >
            <option value="">-</option>
            <option value="S">Sostitutiva</option>
            <option value="D">Dipendente</option>
          </select>
        </c-col>
      }
      @if (mode == "cambia-validita") {
        <c-col xs="12">
          <label cLabel class="visually-hidden" for="dataFineAssegnazione">
            Data Fine Assegnazione
          </label>
          <app-datepicker
            cFormControl
            id="dataFineAssegnazione"
            formControlName="dataOraFineAssegnazione"
            placeholder="Data Fine Assegnazione"
            min="01/01/1900 00:00:00"
            max="31/12/9999 23:59:59"
            [showTodayButton]="true"
            [showSpecificDateButton]="true"
            specificDateValue="31/12/9999 23:59:59"
            todayButtonLabel="Oggi"
            specificDateButtonLabel="Fine validità"
          />
        </c-col>
      }
      @if (mode == "indisponibilita") {
        <c-col xs="12">
          <label cLabel class="visually-hidden" for="dataInvalidità">
            Data Invalidità
          </label>
          <app-datepicker
            cFormControl
            id="dataInvalidita"
            formControlName="dataOraIndisponibilita"
            placeholder="Data Invalidità"
            min="01/01/1900 00:00:00"
            max="31/12/9999 23:59:59"
            [showTodayButton]="true"
            [showSpecificDateButton]="true"
            specificDateValue="31/12/9999 23:59:59"
            todayButtonLabel="Oggi"
            specificDateButtonLabel="Fine validità"
          />
        </c-col>
      }
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button
      cButton
      color="success"
      (click)="confirm()"
      [disabled]="!form.valid"
    >
      Aggiorna Massivo
    </button>
  </c-modal-footer>
</c-modal>
