<c-modal
  [visible]="visible"
  backdrop="static"
  (visibleChange)="visibleChange.emit($event)"
  size="lg"
>
  <c-modal-header style="justify-content: space-between !important">
    <h5 cModalTitle>Inserisci Tessere</h5>

    <button
      type="button"
      (click)="close()"
      variant="ghost"
      shape="rounded-pill"
      cButton
      color="danger"
    >
      <svg [cIcon]="icons.cilX" title="Chiudi"></svg>
    </button>
  </c-modal-header>

  <c-modal-body>
    <app-tessera-inserimento-form
      (saved)="onSaved()"
    ></app-tessera-inserimento-form>
  </c-modal-body>
</c-modal>
